<section class="new-training" fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
      <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-title fxLayoutAlign="center">New Workout</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
          <mat-form-field *ngIf="!isLoading">
              <mat-select placeholder="Choose your exercise" ngModel name="exercise" required>
              <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                  {{ exercise.name }}
              </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </mat-card-content>
        <p fxLayoutAlign="center">You selected: {{selected}}</p>
        <mat-card-actions fxLayoutAlign="center" *ngIf="!isLoading">
          <button type="submit" mat-button [disabled]="f.invalid">Start</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </section>
  
  